PROJECT_ROOT = 

# Image paths
IMAGE_DATASET_PATH = 
IMAGE_THUMBS_PATH = 
IMAGE_PATH = 


# Database configuration
DATABASE_URL = 

DATABASE_NAME = 
DATABASE_USER = 
DATABASE_PASSWORD = 
DATABASE_HOST = 
DATABASE_PORT = 

# Pose estimation output paths
# 2d pose
POSE_2D_JSON_PATH = 
POSE_2D_COCO17_JSON_PATH = 


# kinetic dataset
KINETIC_10PER_FULLPOSE_VAL_PATH = 
KINETIC_10PER_FULLPOSE_TRAIN_PATH = 
KINETIC_50PER_FULLPOSE_TRAIN_PATH = 
KINETIC_FULLPOSE_TRAIN_PATH = 
KINETIC_FULLPOSE_VAL_PATH = 

KINETIC_10PER_VAL_PATH = 
KINETIC_10PER_TRAIN_PATH = 



# human36m dataset
H36M_DIR = 

# Model checkpoints
# for projection visualization
VISUALIZATION_LIFTER_CKPT = 
VISUALIZATION_DENOISER_CKPT = 

# for diffusion optuna
OPTUNA_DIFF_LIFTER_CKPT = 
OPTUNA_DIFF_DENOISER_CKPT = 
#for lifter optuna
OPTUNA_LIFTER_LIFTER_CKPT =    
OPTUNA_LIFTER_DENOISER_CKPT = 

#for test mpjpe
MPJPE_LIFTER_CKPT = 
MPJPE_DENOISER_CKPT = 

# for train diffusion
TRAIN_DIFF_LIFTER_CKPT =    
TRAIN_DIFF_DENOISER_CKPT = 

# for train discriminator
TRAIN_DISCRIMINATOR_LIFTER_CKPT = 

# for train lifter
TRAIN_LIFTER_LIFTER_CKPT = 
TRAIN_LIFTER_DISCRIMINATOR_CKPT = 

# for estimation (2d -> 3d )
ESTIMATION_LIFTER_CKPT = 
ESTIMATION_DENOISER_CKPT = 


# Visualization settings
VISUALIZATION_OUT_DIR = 

# save checkpoints
KINETIC_CKPT_DIR = 
H36M_CKPT_DIR = 

